.jumbotron{
    margin-top: 15px;
}

.jumbotron h4{
	margin-bottom: 20px;
}

.divBotao{
	margin-left: 82%;
	margin-top: 30px;
}

.media-body h4{
	margin-top: 27px;
}

.media{
	margin-bottom: 25px;
}

#ValordaCompraform{
    position: absolute;
}

#ValordaVendaform{
    position: relative;
    margin-left: 50%;
}

#QuantidadeProd{
    position: absolute;
}

#CategoriaProd{
    position: relative;
     margin-left: 50%;
}