.input-group{
    display: flex;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.input-group-append{
    display: flex;
  
    
}

.headerPesquisa h4{
    position: absolute;
    padding-left: 15px;
}

.headerPesquisaNovo button{
    position: relative;
    margin-left: 91%;
}

.headerPesquisaNovo a{
    text-decoration: none;
    color: white; 
}

.topoPesquisa{
    margin-top: 60px;
}

.table{
    position: flex;
}