.form-group input{
  padding: 5px;
  margin: 5px 0;
  width: 400px;
  height: 22.5px;
  display:flex;
  justify-content: center;
  margin-right: 100px;

}

.a img{
size: 30px;

}

.nav navbar-nav{
font-size: 10px;

}